<h2>Enter your Drizly login to associate it with your Amazon/Echo account</h2>

<p>User ID: {{userId}}</p>

<p><input type="hidden" id="amzn_id" value="{{userId}}"></p>

<p>
	<label>Email</label>
	<input type="email" id="email"/>
</p>

<p>
	<label>Password</label>
	<input type="password" id="password"/>
</p>

<p><input type="submit" id="submit"/></p>

<script>
$('#submit').click(function() {
	$.post('/auth', {
		amzn_id: $('#amzn_id').val(),
		email: $('#email').val(),
		password: $('#password').val()
	}, function() {
	});
});
</script>
